:root {
    --umi-white: #fbfbfb;
    --umi-orange: #fa8552;
    --umi-gray: #262626;
}

.about-container {
    position: relative;
    top: -8.7rem;
    background-image: url(../res/about-bg.png);
    color: var(--umi-white);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-cards-grid {
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}