.menu-container {
  margin: auto;
  background-color: var(--umi-gray);
  color: var(--umi-white);
  padding-left: 2rem;
}

h1 {
  text-align: center;
  color: var(--umi-orange);
  margin-bottom: 40px;
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section h2 {
  color: var(--umi-orange);
  border-bottom: 2px solid #f2d9d9;
  padding-bottom: 5px;
  width: 97%;
  margin-bottom: 15px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.item-name {
  font-weight: bold;
  font-size: 1.1em;
}

.item-desc {
  font-style: italic;
  color: var(--umi-white);
  margin-left: 10px;
  margin-top: 2px;
}

.item-price {
  font-weight: bold;
  color: var(--umi-white);
  margin-top: 2px;
}

.section-note {
  font-size: 0.9em;
  font-style: italic;
  color: var(--umi-orange);
  margin-top: 10px;
}

@media (max-width: 800px) {
    .menu-container h1 {
      font-size: 2.3rem !important;
      margin-top: 3rem !important;;
    }
}