:root {
    --umi-white: #fbfbfb;
    --umi-orange: #fa8552;
    --umi-gray: #262626;

    --nav-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

.home-section {
  background-image: url(../res/home-bg.png);
  background-color: var(--umi-white);
  height: 60rem;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -6.71rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo {
  width: 50%;
}

.ayce-logo {
  width: 40%;
}

.home-content a {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--umi-orange);
  color: var(--umi-gray);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.home-content a:hover {
  background-color: var(--umi-white);
  text-decoration: none;
}