.location-container {
    color: var(--umi-white);
    margin-top: 2rem;
    background-image: url('../res/loc-bg.jpg');
    background-size: cover;
    background-position: top center;
    padding-top: 0.01rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.location-list {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    width: 100%;
    gap: 4rem;
}

.location-list * {
    flex-grow: 1;
    border-radius: 10px;
}

.location-info {
    margin-bottom: 1rem;
    text-align: center;
}

.location-info a {
    text-decoration: none;
    color: var(--umi-white);
    font-size: 1.2rem;
    transition: 0.3s;
}

.location-info a:hover {
    text-decoration: underline;
    color: var(--umi-orange);
}

.location-info p {
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .location-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .location-card {
        width: 100%;
    }
}