.offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 30%;
    align-items: flex-start;
}

.offer-card-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.offer-card-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;;
}

.offer-card-desc-container {
    width: 100%;
}

.offer-card-description {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--umi-white);
}